@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-clear-button::-webkit-search-cancel-button {
    display: none;
  }
  .no-clear-button::-moz-search-cancel-button {
    display: none;
  }
  .no-clear-button::-ms-clear {
    display: none;
  }
}
@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
